<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mingmah_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>mingmah_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>mingmah_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>mingmah_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>mingmah_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>mingmah_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>mingmah_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>mingmah_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>mingmah_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,83},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>mingmah_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,83},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>mingmah_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,83},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>mingmah_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,83},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>mingmah_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,83},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>mingmah_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,83},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>mingmah_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>mingmah_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,164},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>mingmah_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,164},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>mingmah_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,164},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>mingmah_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,164},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>mingmah_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,164},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>mingmah_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,164},{62,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ming_myself.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:780c43377c0e97bdf73a80bfc3877ef0$</string>
            <key>textureFileName</key>
            <string>ming_myself.png</string>
        </dict>
    </dict>
</plist>
