<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_shurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,64}}</string>
                <key>sourceSize</key>
                <string>{324,64}</string>
            </dict>
            <key>btn_chaxun.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{116,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,56}}</string>
                <key>sourceSize</key>
                <string>{116,56}</string>
            </dict>
            <key>btn_chongka.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{106,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,45}}</string>
                <key>sourceSize</key>
                <string>{106,45}</string>
            </dict>
            <key>btn_fk_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,68},{241,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,92}}</string>
                <key>sourceSize</key>
                <string>{241,92}</string>
            </dict>
            <key>btn_fk_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{241,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,92}}</string>
                <key>sourceSize</key>
                <string>{241,92}</string>
            </dict>
            <key>btn_qr.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,162},{165,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,58}}</string>
                <key>sourceSize</key>
                <string>{165,58}</string>
            </dict>
            <key>btn_sz_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{241,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,92}}</string>
                <key>sourceSize</key>
                <string>{241,92}</string>
            </dict>
            <key>btn_sz_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,256},{241,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,92}}</string>
                <key>sourceSize</key>
                <string>{241,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chongzhi.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c85471576ca6f695b23ccaf0ead44478$</string>
            <key>textureFileName</key>
            <string>chongzhi.png</string>
        </dict>
    </dict>
</plist>
