<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,1938},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,905},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>btn_shiyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,1712},{225,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,67}}</string>
                <key>sourceSize</key>
                <string>{225,67}</string>
            </dict>
            <key>btn_shiyan_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,1712},{225,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,67}}</string>
                <key>sourceSize</key>
                <string>{225,67}</string>
            </dict>
            <key>btn_suizhou_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,1712},{225,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,67}}</string>
                <key>sourceSize</key>
                <string>{225,67}</string>
            </dict>
            <key>btn_suizou.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,1712},{225,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,67}}</string>
                <key>sourceSize</key>
                <string>{225,67}</string>
            </dict>
            <key>btn_xianggan_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1978},{225,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,67}}</string>
                <key>sourceSize</key>
                <string>{225,67}</string>
            </dict>
            <key>btn_xiangyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1978},{225,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,67}}</string>
                <key>sourceSize</key>
                <string>{225,67}</string>
            </dict>
            <key>btn_xiaogan.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1978},{225,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,67}}</string>
                <key>sourceSize</key>
                <string>{225,67}</string>
            </dict>
            <key>btn_xiaogan_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1978},{225,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,67}}</string>
                <key>sourceSize</key>
                <string>{225,67}</string>
            </dict>
            <key>changshamajiang_explain.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1657},{1144,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1144,53}}</string>
                <key>sourceSize</key>
                <string>{1144,53}</string>
            </dict>
            <key>chuangjian_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{1071,681}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1071,681}}</string>
                <key>sourceSize</key>
                <string>{1071,681}</string>
            </dict>
            <key>chuangjian_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1939},{196,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,76}}</string>
                <key>sourceSize</key>
                <string>{196,76}</string>
            </dict>
            <key>close_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,1938},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>create_room_titlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1657},{292,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,102}}</string>
                <key>sourceSize</key>
                <string>{292,102}</string>
            </dict>
            <key>create_room_titlebg_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1657},{292,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,102}}</string>
                <key>sourceSize</key>
                <string>{292,102}</string>
            </dict>
            <key>dizuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,1994},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>fangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,1938},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>hongse_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1950},{236,90}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{236,90}}</string>
                <key>sourceSize</key>
                <string>{246,102}</string>
            </dict>
            <key>img_fangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2000},{59,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,32}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>jiapiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,1712},{179,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{179,43}}</string>
                <key>sourceSize</key>
                <string>{187,45}</string>
            </dict>
            <key>lanse_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1712},{236,90}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{236,90}}</string>
                <key>sourceSize</key>
                <string>{246,102}</string>
            </dict>
            <key>publick_Back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1600,901}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1600,901}}</string>
                <key>sourceSize</key>
                <string>{1600,901}</string>
            </dict>
            <key>shiyanwanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,1712},{152,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{152,43}}</string>
                <key>sourceSize</key>
                <string>{162,45}</string>
            </dict>
            <key>sichuanmaj_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,1712},{222,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{222,56}}</string>
                <key>sourceSize</key>
                <string>{230,60}</string>
            </dict>
            <key>suizhouwanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1712},{154,37}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{154,37}}</string>
                <key>sourceSize</key>
                <string>{162,45}</string>
            </dict>
            <key>xiangyangwanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,1712},{150,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{150,43}}</string>
                <key>sourceSize</key>
                <string>{162,45}</string>
            </dict>
            <key>xiaoganwanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,1893},{152,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{152,43}}</string>
                <key>sourceSize</key>
                <string>{162,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>creamr.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e39d390bb7c2ed7ae25ee91d520a5b7f$</string>
            <key>textureFileName</key>
            <string>creamr.png</string>
        </dict>
    </dict>
</plist>
