<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,709},{99,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{99,26}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2022,737},{99,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{99,24}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,737},{99,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{99,24}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>66mj_zb_zn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1168},{166,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,167}}</string>
                <key>sourceSize</key>
                <string>{166,167}</string>
            </dict>
            <key>Btn_TuiChu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,790},{218,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,86}}</string>
                <key>sourceSize</key>
                <string>{218,86}</string>
            </dict>
            <key>Button_ChiAction.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1336},{87,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,79}}</string>
                <key>sourceSize</key>
                <string>{87,79}</string>
            </dict>
            <key>Button_ExitGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1434},{50,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,50}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Button_GangAction.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,1383},{84,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,79}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>Button_GuoAction.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,1187},{87,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,82}}</string>
                <key>sourceSize</key>
                <string>{87,82}</string>
            </dict>
            <key>Button_HuAction.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,1024},{85,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,87}}</string>
                <key>sourceSize</key>
                <string>{85,87}</string>
            </dict>
            <key>Button_PengAction.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,1271},{87,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,79}}</string>
                <key>sourceSize</key>
                <string>{87,79}</string>
            </dict>
            <key>Button_Resoult_Name0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,1195},{205,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,53}}</string>
                <key>sourceSize</key>
                <string>{205,53}</string>
            </dict>
            <key>Button_Resoult_Name1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,1111},{207,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,55}}</string>
                <key>sourceSize</key>
                <string>{207,55}</string>
            </dict>
            <key>Button_Set.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1380},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Effect_Hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,826},{195,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,134}}</string>
                <key>sourceSize</key>
                <string>{195,134}</string>
            </dict>
            <key>GameResoultBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,248},{112,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{112,115}}</string>
                <key>sourceSize</key>
                <string>{112,117}</string>
            </dict>
            <key>GameResoultBack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,753},{82,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,24},{82,72}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>GameResoultScoreBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2036},{10,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,44}}</string>
                <key>sourceSize</key>
                <string>{10,44}</string>
            </dict>
            <key>GoldBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,838},{154,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,34}}</string>
                <key>sourceSize</key>
                <string>{154,34}</string>
            </dict>
            <key>GoldPic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,660},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>HeadBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,1417},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>HeadImagic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,1418},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2036},{2,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,28}}</string>
                <key>sourceSize</key>
                <string>{2,28}</string>
            </dict>
            <key>LoseBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,487},{246,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{246,138}}</string>
                <key>sourceSize</key>
                <string>{264,140}</string>
            </dict>
            <key>MenuBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,1250},{164,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,76}}</string>
                <key>sourceSize</key>
                <string>{164,76}</string>
            </dict>
            <key>Status_Hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,1024},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Status_Ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,660},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Status_ZiMo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,738},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>TimeBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,289},{143,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,142}}</string>
                <key>sourceSize</key>
                <string>{143,142}</string>
            </dict>
            <key>TimePoint0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,402},{114,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,38}}</string>
                <key>sourceSize</key>
                <string>{114,38}</string>
            </dict>
            <key>TimePoint1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,483},{38,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,113}}</string>
                <key>sourceSize</key>
                <string>{38,113}</string>
            </dict>
            <key>TimePoint2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,362},{114,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,38}}</string>
                <key>sourceSize</key>
                <string>{114,38}</string>
            </dict>
            <key>TimePoint3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,442},{39,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,113}}</string>
                <key>sourceSize</key>
                <string>{39,113}</string>
            </dict>
            <key>WinBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,117},{481,170}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{481,170}}</string>
                <key>sourceSize</key>
                <string>{531,170}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,754},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>biaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,704},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,362},{340,340}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{340,340}}</string>
                <key>sourceSize</key>
                <string>{342,358}</string>
            </dict>
            <key>btn_bu_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,1300},{83,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,81}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>btn_buzhang_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,1023},{128,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{128,82}}</string>
                <key>sourceSize</key>
                <string>{142,82}</string>
            </dict>
            <key>btn_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,414},{244,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,100}}</string>
                <key>sourceSize</key>
                <string>{244,100}</string>
            </dict>
            <key>btn_fengxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,2},{244,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,100}}</string>
                <key>sourceSize</key>
                <string>{244,100}</string>
            </dict>
            <key>btn_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,1464},{80,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,77}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>btn_jiesanfangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,878},{218,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,84}}</string>
                <key>sourceSize</key>
                <string>{218,84}</string>
            </dict>
            <key>btn_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,1048},{214,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{214,82}}</string>
                <key>sourceSize</key>
                <string>{216,90}</string>
            </dict>
            <key>btn_weixin_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,109},{303,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,102}}</string>
                <key>sourceSize</key>
                <string>{303,102}</string>
            </dict>
            <key>btn_xuanzhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,964},{214,82}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{214,82}}</string>
                <key>sourceSize</key>
                <string>{216,90}</string>
            </dict>
            <key>btn_yaoqinghaoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,704},{220,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,84}}</string>
                <key>sourceSize</key>
                <string>{220,84}</string>
            </dict>
            <key>btn_yuying.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,1336},{80,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,77}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>bupiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,1218},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>bupiao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,985},{146,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,69}}</string>
                <key>sourceSize</key>
                <string>{146,69}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,712},{129,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,39}}</string>
                <key>sourceSize</key>
                <string>{129,39}</string>
            </dict>
            <key>dianci.png</key>
            <dict>
                <key>frame</key>
                <string>{{2025,588},{28,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,16}}</string>
                <key>sourceSize</key>
                <string>{28,16}</string>
            </dict>
            <key>dianci_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2025,523},{43,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,20}}</string>
                <key>sourceSize</key>
                <string>{43,20}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,704},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>exitBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1133},{164,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,65}}</string>
                <key>sourceSize</key>
                <string>{164,65}</string>
            </dict>
            <key>fangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,877},{63,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,41}}</string>
                <key>sourceSize</key>
                <string>{63,41}</string>
            </dict>
            <key>hand_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,1095},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>hand_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,1064},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>handmah_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,735},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,1505},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{74,74}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,1498},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{74,74}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>head_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,1494},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{74,74}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,1429},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,2},{489,113}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,113}}</string>
                <key>sourceSize</key>
                <string>{537,113}</string>
            </dict>
            <key>hui_zheyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,622},{85,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,99}}</string>
                <key>sourceSize</key>
                <string>{85,99}</string>
            </dict>
            <key>kawuxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,919},{84,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{84,35}}</string>
                <key>sourceSize</key>
                <string>{90,37}</string>
            </dict>
            <key>kou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,1043},{44,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,51}}</string>
                <key>sourceSize</key>
                <string>{44,51}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,523},{97,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,99}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
            <key>lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2025,568},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,1352},{80,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,75}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>liejuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,1132},{209,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,61}}</string>
                <key>sourceSize</key>
                <string>{209,61}</string>
            </dict>
            <key>msg_bubble_btm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,289},{69,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,64}}</string>
                <key>sourceSize</key>
                <string>{69,64}</string>
            </dict>
            <key>off_line_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,812},{63,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,41}}</string>
                <key>sourceSize</key>
                <string>{63,41}</string>
            </dict>
            <key>over_bj.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>over_jieshuUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1299},{79,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,65}}</string>
                <key>sourceSize</key>
                <string>{79,65}</string>
            </dict>
            <key>piao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,1136},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>piao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,956},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>piaoer_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,837},{146,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,69}}</string>
                <key>sourceSize</key>
                <string>{146,69}</string>
            </dict>
            <key>piaoyi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,289},{146,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,69}}</string>
                <key>sourceSize</key>
                <string>{146,69}</string>
            </dict>
            <key>play_biaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,704},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>play_wanfakuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,289},{70,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,81}}</string>
                <key>sourceSize</key>
                <string>{70,81}</string>
            </dict>
            <key>shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,802},{89,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,37}}</string>
                <key>sourceSize</key>
                <string>{89,37}</string>
            </dict>
            <key>shengyu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,994},{127,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,28}}</string>
                <key>sourceSize</key>
                <string>{127,28}</string>
            </dict>
            <key>shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,1126},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>shezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,995},{46,46}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>shijianhexinghao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,433},{142,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,52}}</string>
                <key>sourceSize</key>
                <string>{142,52}</string>
            </dict>
            <key>suizhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2022,737},{99,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{99,24}}</string>
                <key>sourceSize</key>
                <string>{105,26}</string>
            </dict>
            <key>ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,1328},{148,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,155}}</string>
                <key>sourceSize</key>
                <string>{148,155}</string>
            </dict>
            <key>tingJ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,942},{44,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,51}}</string>
                <key>sourceSize</key>
                <string>{44,51}</string>
            </dict>
            <key>wanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,289},{43,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,57}}</string>
                <key>sourceSize</key>
                <string>{43,57}</string>
            </dict>
            <key>xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,763},{89,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,37}}</string>
                <key>sourceSize</key>
                <string>{89,37}</string>
            </dict>
            <key>you.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,880},{37,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,89}}</string>
                <key>sourceSize</key>
                <string>{37,89}</string>
            </dict>
            <key>zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,1096},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{38,38}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>zhuangpai_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,841},{37,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,89}}</string>
                <key>sourceSize</key>
                <string>{37,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameScene.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddf4ae15caa7908562373c5a10f7c7a0$</string>
            <key>textureFileName</key>
            <string>GameScene.png</string>
        </dict>
    </dict>
</plist>
