<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{1064,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1064,423}}</string>
                <key>sourceSize</key>
                <string>{1064,423}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,1434},{72,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,29}}</string>
                <key>sourceSize</key>
                <string>{72,29}</string>
            </dict>
            <key>Button_AddGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,1809},{257,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,51}}</string>
                <key>sourceSize</key>
                <string>{257,51}</string>
            </dict>
            <key>GoldPic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,1872},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>LeftPic1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,818},{156,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,63}}</string>
                <key>sourceSize</key>
                <string>{156,63}</string>
            </dict>
            <key>LeftPic2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,1862},{156,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,62}}</string>
                <key>sourceSize</key>
                <string>{156,62}</string>
            </dict>
            <key>UIfengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1000},{5,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,87}}</string>
                <key>sourceSize</key>
                <string>{5,87}</string>
            </dict>
            <key>Yx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,1430},{87,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,35}}</string>
                <key>sourceSize</key>
                <string>{87,35}</string>
            </dict>
            <key>bg_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,388},{191,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,34}}</string>
                <key>sourceSize</key>
                <string>{191,34}</string>
            </dict>
            <key>bg_kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1015},{758,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{758,524}}</string>
                <key>sourceSize</key>
                <string>{758,524}</string>
            </dict>
            <key>bg_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,628},{370,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,415}}</string>
                <key>sourceSize</key>
                <string>{370,415}</string>
            </dict>
            <key>bgduan_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,581},{125,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,34}}</string>
                <key>sourceSize</key>
                <string>{125,34}</string>
            </dict>
            <key>btn_jiahao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,2001},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>btn_jiaru.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,818},{336,168}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{336,168}}</string>
                <key>sourceSize</key>
                <string>{338,172}</string>
            </dict>
            <key>btn_kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1955},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_lianxiwomen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,1809},{192,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,61}}</string>
                <key>sourceSize</key>
                <string>{192,61}</string>
            </dict>
            <key>btn_pengyouquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,807},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>btn_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,932},{120,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>btn_tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,1902},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>btn_tuichu_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,1872},{130,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,61}}</string>
                <key>sourceSize</key>
                <string>{130,61}</string>
            </dict>
            <key>btn_wexin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,588},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>chakanxiangqin_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2023,2},{122,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{122,22}}</string>
                <key>sourceSize</key>
                <string>{128,24}</string>
            </dict>
            <key>close_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1902},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1541},{628,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,427}}</string>
                <key>sourceSize</key>
                <string>{628,427}</string>
            </dict>
            <key>ddengchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,1434},{73,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,101}}</string>
                <key>sourceSize</key>
                <string>{73,101}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,528},{773,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{773,58}}</string>
                <key>sourceSize</key>
                <string>{773,58}</string>
            </dict>
            <key>dingbuuibantoumingdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1533},{1280,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,134}}</string>
                <key>sourceSize</key>
                <string>{1280,134}</string>
            </dict>
            <key>dttuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1430},{73,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,101}}</string>
                <key>sourceSize</key>
                <string>{73,101}</string>
            </dict>
            <key>fangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1255},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>fangkaxiaobeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,1852},{255,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,45}}</string>
                <key>sourceSize</key>
                <string>{255,45}</string>
            </dict>
            <key>fengxiang_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,1926},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{72,72}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,1988},{36,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{36,18}}</string>
                <key>sourceSize</key>
                <string>{42,22}</string>
            </dict>
            <key>ffanghuifangj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,1445},{174,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,45}}</string>
                <key>sourceSize</key>
                <string>{174,45}</string>
            </dict>
            <key>gonggao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,588},{648,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{648,38}}</string>
                <key>sourceSize</key>
                <string>{648,38}</string>
            </dict>
            <key>gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2015},{31,26}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{31,26}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>goumaixiaojiahao.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,2009},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>guanggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,1000},{309,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,197}}</string>
                <key>sourceSize</key>
                <string>{309,197}</string>
            </dict>
            <key>haoyouqun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,1290},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,1926},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>head_img_male.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,1351},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>head_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,1899},{90,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{90,90}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>hongseanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1809},{260,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,89}}</string>
                <key>sourceSize</key>
                <string>{260,89}</string>
            </dict>
            <key>icon_fangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,1492},{59,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,32}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>icon_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1143},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>icon_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1030},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>icon_xiaoxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,1955},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>id_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,628},{386,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,188}}</string>
                <key>sourceSize</key>
                <string>{386,188}</string>
            </dict>
            <key>img_pengyouquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,1881},{104,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,105}}</string>
                <key>sourceSize</key>
                <string>{104,105}</string>
            </dict>
            <key>img_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,1881},{104,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,105}}</string>
                <key>sourceSize</key>
                <string>{104,105}</string>
            </dict>
            <key>jiapiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,1311},{179,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{179,43}}</string>
                <key>sourceSize</key>
                <string>{187,45}</string>
            </dict>
            <key>jiaruyouxixiaochangjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,988},{300,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,245}}</string>
                <key>sourceSize</key>
                <string>{300,245}</string>
            </dict>
            <key>jushu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,1445},{72,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,29}}</string>
                <key>sourceSize</key>
                <string>{72,29}</string>
            </dict>
            <key>kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2023,126},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>lanse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,1445},{86,86}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{86,86}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>lijuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,2001},{59,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,32}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>lvse_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,1445},{86,86}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{86,86}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>mingchengbantoujianbian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,1809},{272,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,41}}</string>
                <key>sourceSize</key>
                <string>{272,41}</string>
            </dict>
            <key>paomadengbeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1970},{891,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{891,43}}</string>
                <key>sourceSize</key>
                <string>{891,43}</string>
            </dict>
            <key>pengyouquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,1290},{152,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,153}}</string>
                <key>sourceSize</key>
                <string>{152,153}</string>
            </dict>
            <key>progress_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2015},{376,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,14}}</string>
                <key>sourceSize</key>
                <string>{376,14}</string>
            </dict>
            <key>progress_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1997,2},{384,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,24}}</string>
                <key>sourceSize</key>
                <string>{384,24}</string>
            </dict>
            <key>public_frame_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1900},{106,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,107}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>
            </dict>
            <key>public_ftame_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,1255},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>py.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,590},{138,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,35}}</string>
                <key>sourceSize</key>
                <string>{138,35}</string>
            </dict>
            <key>shez.png</key>
            <dict>
                <key>frame</key>
                <string>{{2023,174},{36,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{36,18}}</string>
                <key>sourceSize</key>
                <string>{42,22}</string>
            </dict>
            <key>shezi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,2},{758,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{758,524}}</string>
                <key>sourceSize</key>
                <string>{758,524}</string>
            </dict>
            <key>shezi_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,1899},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>shurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1015},{406,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,516}}</string>
                <key>sourceSize</key>
                <string>{406,516}</string>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,1899},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1669},{1280,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,138}}</string>
                <key>sourceSize</key>
                <string>{1280,138}</string>
            </dict>
            <key>tuichu_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1809},{277,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,70}}</string>
                <key>sourceSize</key>
                <string>{277,70}</string>
            </dict>
            <key>volumeBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,1946},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>volumeSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,590},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>wanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2022,1669},{36,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{36,18}}</string>
                <key>sourceSize</key>
                <string>{42,22}</string>
            </dict>
            <key>wanfa_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1233,586}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1233,586}}</string>
                <key>sourceSize</key>
                <string>{1233,586}</string>
            </dict>
            <key>wanfa_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,1862},{116,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,91}}</string>
                <key>sourceSize</key>
                <string>{116,91}</string>
            </dict>
            <key>wanfaxuanxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,1492},{72,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,30}}</string>
                <key>sourceSize</key>
                <string>{72,30}</string>
            </dict>
            <key>xiao'xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1899},{72,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,101}}</string>
                <key>sourceSize</key>
                <string>{72,101}</string>
            </dict>
            <key>xiaolaba.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,2001},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>xuanzhe_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,708},{35,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,34}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>youxidating.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,1311},{220,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,158}}</string>
                <key>sourceSize</key>
                <string>{220,158}</string>
            </dict>
            <key>zanji_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,713},{125,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,92}}</string>
                <key>sourceSize</key>
                <string>{125,92}</string>
            </dict>
            <key>zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1541},{36,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{42,22}</string>
            </dict>
            <key>zhuanzhuanmajiangdabiaotidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1000},{432,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,119}}</string>
                <key>sourceSize</key>
                <string>{432,119}</string>
            </dict>
            <key>zhuziyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1541},{106,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,359}}</string>
                <key>sourceSize</key>
                <string>{106,359}</string>
            </dict>
            <key>zhuzizuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1000},{145,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,428}}</string>
                <key>sourceSize</key>
                <string>{145,428}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home_home.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f08a6b116cadac2e5196dbc2a1306ee$</string>
            <key>textureFileName</key>
            <string>home_home.png</string>
        </dict>
    </dict>
</plist>
