<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1521},{40,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,59}}</string>
                <key>sourceSize</key>
                <string>{40,59}</string>
            </dict>
            <key>00.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1979},{42,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2014},{28,59}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{28,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1582},{40,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1582},{38,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{38,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1918},{44,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,57}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1521},{36,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{36,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1918},{42,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1977},{42,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,57}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1918},{42,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1521},{40,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2014},{28,59}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,59}}</string>
                <key>sourceSize</key>
                <string>{40,59}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1582},{40,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,59}}</string>
                <key>sourceSize</key>
                <string>{40,59}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1582},{38,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,59}}</string>
                <key>sourceSize</key>
                <string>{40,59}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1995},{44,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,57}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1985},{36,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{36,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1992},{42,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1918},{42,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,57}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1992},{42,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1521},{40,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1233,641}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1233,641}}</string>
                <key>sourceSize</key>
                <string>{1233,641}</string>
            </dict>
            <key>bg_fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1237},{282,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,432}}</string>
                <key>sourceSize</key>
                <string>{282,432}</string>
            </dict>
            <key>bg_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,535},{1118,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1118,137}}</string>
                <key>sourceSize</key>
                <string>{1118,137}</string>
            </dict>
            <key>btn_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1655},{229,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,83}}</string>
                <key>sourceSize</key>
                <string>{229,83}</string>
            </dict>
            <key>btn_fengxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1553},{244,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,100}}</string>
                <key>sourceSize</key>
                <string>{244,100}</string>
            </dict>
            <key>btn_kaisi.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1799},{239,100}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{239,100}}</string>
                <key>sourceSize</key>
                <string>{241,102}</string>
            </dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1740},{72,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1740},{74,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{74,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1740},{78,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1564},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,166},{24,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,12}}</string>
                <key>sourceSize</key>
                <string>{28,12}</string>
            </dict>
            <key>jianhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,2},{12,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,7}}</string>
                <key>sourceSize</key>
                <string>{14,7}</string>
            </dict>
            <key>liejuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1088},{209,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,61}}</string>
                <key>sourceSize</key>
                <string>{209,61}</string>
            </dict>
            <key>main_mianban.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,661},{82,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,57}}</string>
                <key>sourceSize</key>
                <string>{82,57}</string>
            </dict>
            <key>new_chacha.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1918},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>over_ag.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1583},{60,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,33}}</string>
                <key>sourceSize</key>
                <string>{60,33}</string>
            </dict>
            <key>over_bbh.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1814},{91,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,33}}</string>
                <key>sourceSize</key>
                <string>{91,33}</string>
            </dict>
            <key>over_dp.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1586},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,33}</string>
            </dict>
            <key>over_gsh.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,935},{92,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,33}}</string>
                <key>sourceSize</key>
                <string>{92,33}</string>
            </dict>
            <key>over_haidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1892},{91,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,33}}</string>
                <key>sourceSize</key>
                <string>{91,33}</string>
            </dict>
            <key>over_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1817},{89,83}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{89,83}}</string>
                <key>sourceSize</key>
                <string>{97,83}</string>
            </dict>
            <key>over_hupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1817},{195,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,102}}</string>
                <key>sourceSize</key>
                <string>{195,102}</string>
            </dict>
            <key>over_jieshuUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1918},{79,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,65}}</string>
                <key>sourceSize</key>
                <string>{79,65}</string>
            </dict>
            <key>over_jjh.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1799},{91,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,33}}</string>
                <key>sourceSize</key>
                <string>{91,33}</string>
            </dict>
            <key>over_jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1521},{63,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,33}}</string>
                <key>sourceSize</key>
                <string>{63,33}</string>
            </dict>
            <key>over_kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1299},{179,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,61}}</string>
                <key>sourceSize</key>
                <string>{179,61}</string>
            </dict>
            <key>over_ku.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1655},{261,530}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,530}}</string>
                <key>sourceSize</key>
                <string>{265,530}</string>
            </dict>
            <key>over_liuju.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1816},{182,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,97}}</string>
                <key>sourceSize</key>
                <string>{182,97}</string>
            </dict>
            <key>over_lls.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2000},{91,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,32}}</string>
                <key>sourceSize</key>
                <string>{91,32}</string>
            </dict>
            <key>over_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1521},{60,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,33}}</string>
                <key>sourceSize</key>
                <string>{60,33}</string>
            </dict>
            <key>over_peida.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,535},{551,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,79}}</string>
                <key>sourceSize</key>
                <string>{551,79}</string>
            </dict>
            <key>over_ph.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1521},{61,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,33}}</string>
                <key>sourceSize</key>
                <string>{61,33}</string>
            </dict>
            <key>over_pph.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1666},{91,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,33}}</string>
                <key>sourceSize</key>
                <string>{91,33}</string>
            </dict>
            <key>over_qqr.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2000},{92,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,32}}</string>
                <key>sourceSize</key>
                <string>{92,32}</string>
            </dict>
            <key>over_quys.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1573},{91,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,33}}</string>
                <key>sourceSize</key>
                <string>{91,33}</string>
            </dict>
            <key>over_qxd.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,841},{92,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,33}}</string>
                <key>sourceSize</key>
                <string>{92,33}</string>
            </dict>
            <key>over_qys.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1480},{91,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,33}}</string>
                <key>sourceSize</key>
                <string>{91,33}</string>
            </dict>
            <key>over_shule.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1918},{172,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,96}}</string>
                <key>sourceSize</key>
                <string>{172,96}</string>
            </dict>
            <key>over_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1907},{134,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{134,86}}</string>
                <key>sourceSize</key>
                <string>{142,86}</string>
            </dict>
            <key>over_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{322,531}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,531}}</string>
                <key>sourceSize</key>
                <string>{322,531}</string>
            </dict>
            <key>over_xsx.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1029},{91,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,33}}</string>
                <key>sourceSize</key>
                <string>{91,33}</string>
            </dict>
            <key>over_xuanyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1122},{179,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,61}}</string>
                <key>sourceSize</key>
                <string>{179,61}</string>
            </dict>
            <key>over_zhuangjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1521},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>over_zm.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1584},{60,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,33}}</string>
                <key>sourceSize</key>
                <string>{60,33}</string>
            </dict>
            <key>over_zuijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1473},{78,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>shiyanwanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,496},{163,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,39}}</string>
                <key>sourceSize</key>
                <string>{163,39}</string>
            </dict>
            <key>suizhouwanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,2},{162,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,40}}</string>
                <key>sourceSize</key>
                <string>{162,40}</string>
            </dict>
            <key>tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,535},{1280,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,98}}</string>
                <key>sourceSize</key>
                <string>{1280,98}</string>
            </dict>
            <key>wait_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1303},{168,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,63}}</string>
                <key>sourceSize</key>
                <string>{168,63}</string>
            </dict>
            <key>xiangyangwanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,331},{163,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,39}}</string>
                <key>sourceSize</key>
                <string>{163,39}</string>
            </dict>
            <key>xiaoganwanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,166},{163,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,39}}</string>
                <key>sourceSize</key>
                <string>{163,39}</string>
            </dict>
            <key>zhongchengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,745},{94,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,36}}</string>
                <key>sourceSize</key>
                <string>{94,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiesuan.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0a2e1c954f0d38670cc66922e55c53f$</string>
            <key>textureFileName</key>
            <string>jiesuan.png</string>
        </dict>
    </dict>
</plist>
