<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,138}}</string>
                <key>sourceSize</key>
                <string>{1280,138}</string>
            </dict>
            <key>bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,838},{1205,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1205,119}}</string>
                <key>sourceSize</key>
                <string>{1205,119}</string>
            </dict>
            <key>bg_henggang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{1177,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{1177,110}}</string>
                <key>sourceSize</key>
                <string>{1179,116}</string>
            </dict>
            <key>bofang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1918},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1835},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>btn_bofang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,1167},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>btn_fengxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,62},{165,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,58}}</string>
                <key>sourceSize</key>
                <string>{165,58}</string>
            </dict>
            <key>btn_tuichu_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1835},{130,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,61}}</string>
                <key>sourceSize</key>
                <string>{130,61}</string>
            </dict>
            <key>guanbi_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1967},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>hengtiao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{1174,109}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1174,109}}</string>
                <key>sourceSize</key>
                <string>{1176,111}</string>
            </dict>
            <key>hist_rec_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2040,2},{114,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,4}}</string>
                <key>sourceSize</key>
                <string>{114,4}</string>
            </dict>
            <key>hist_rec_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1653},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hist_rec_play_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,122},{584,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,161}}</string>
                <key>sourceSize</key>
                <string>{584,161}</string>
            </dict>
            <key>hist_rec_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,708},{159,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,76}}</string>
                <key>sourceSize</key>
                <string>{159,76}</string>
            </dict>
            <key>hist_rec_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,786},{151,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,50}}</string>
                <key>sourceSize</key>
                <string>{151,50}</string>
            </dict>
            <key>hist_rec_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,838},{327,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,52}}</string>
                <key>sourceSize</key>
                <string>{327,52}</string>
            </dict>
            <key>hist_rec_title_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1237},{414,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,102}}</string>
                <key>sourceSize</key>
                <string>{414,102}</string>
            </dict>
            <key>huifang_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,2},{166,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,58}}</string>
                <key>sourceSize</key>
                <string>{166,58}</string>
            </dict>
            <key>kuaijin_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1941},{104,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,60}}</string>
                <key>sourceSize</key>
                <string>{104,62}</string>
            </dict>
            <key>qianjin_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1835},{104,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,60}}</string>
                <key>sourceSize</key>
                <string>{104,62}</string>
            </dict>
            <key>tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,142},{267,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,86}}</string>
                <key>sourceSize</key>
                <string>{267,86}</string>
            </dict>
            <key>zhanji_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{1233,586}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1233,586}}</string>
                <key>sourceSize</key>
                <string>{1233,586}</string>
            </dict>
            <key>zhanting_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,1201},{22,36}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,36}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhanji.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51995064c3816b4b75f9798422b0cb17$</string>
            <key>textureFileName</key>
            <string>zhanji.png</string>
        </dict>
    </dict>
</plist>
