<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mingmah_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>mingmah_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>mingmah_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>mingmah_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>mingmah_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>mingmah_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>mingmah_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,36},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>mingmah_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,36},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>mingmah_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,36},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>mingmah_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,36},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>mingmah_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>mingmah_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,70},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>mingmah_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,70},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>mingmah_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,70},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>mingmah_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,70},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>mingmah_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>mingmah_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,104},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>mingmah_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,104},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>mingmah_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,104},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>mingmah_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,104},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>mingmah_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>My_left.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02f52974c85339910f025e3e1396e1d4$</string>
            <key>textureFileName</key>
            <string>My_left.png</string>
        </dict>
    </dict>
</plist>
