<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HuType1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{242,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,103}}</string>
                <key>sourceSize</key>
                <string>{242,103}</string>
            </dict>
            <key>HuType10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,841},{242,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,94}}</string>
                <key>sourceSize</key>
                <string>{242,94}</string>
            </dict>
            <key>HuType11.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,817},{241,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,94}}</string>
                <key>sourceSize</key>
                <string>{241,94}</string>
            </dict>
            <key>HuType12.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,813},{242,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,96}}</string>
                <key>sourceSize</key>
                <string>{242,96}</string>
            </dict>
            <key>HuType13.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{253,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,90}}</string>
                <key>sourceSize</key>
                <string>{253,90}</string>
            </dict>
            <key>HuType14.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,936},{168,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,96}}</string>
                <key>sourceSize</key>
                <string>{168,96}</string>
            </dict>
            <key>HuType15.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,718},{171,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,92}}</string>
                <key>sourceSize</key>
                <string>{171,92}</string>
            </dict>
            <key>HuType16.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,830},{168,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,104}}</string>
                <key>sourceSize</key>
                <string>{168,104}</string>
            </dict>
            <key>HuType17.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,644},{176,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,90}}</string>
                <key>sourceSize</key>
                <string>{176,90}</string>
            </dict>
            <key>HuType18.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,891},{165,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,94}}</string>
                <key>sourceSize</key>
                <string>{165,94}</string>
            </dict>
            <key>HuType19.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,718},{245,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,97}}</string>
                <key>sourceSize</key>
                <string>{245,97}</string>
            </dict>
            <key>HuType2.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,718},{247,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,93}}</string>
                <key>sourceSize</key>
                <string>{247,93}</string>
            </dict>
            <key>HuType20.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,911},{240,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,97}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>HuType21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{482,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,103}}</string>
                <key>sourceSize</key>
                <string>{482,103}</string>
            </dict>
            <key>HuType22.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,403},{487,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,103}}</string>
                <key>sourceSize</key>
                <string>{487,103}</string>
            </dict>
            <key>HuType23.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,613},{474,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,103}}</string>
                <key>sourceSize</key>
                <string>{474,103}</string>
            </dict>
            <key>HuType24.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,508},{486,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,103}}</string>
                <key>sourceSize</key>
                <string>{486,103}</string>
            </dict>
            <key>HuType25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{486,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,103}}</string>
                <key>sourceSize</key>
                <string>{486,103}</string>
            </dict>
            <key>HuType26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{571,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,106}}</string>
                <key>sourceSize</key>
                <string>{571,106}</string>
            </dict>
            <key>HuType27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{653,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{653,106}}</string>
                <key>sourceSize</key>
                <string>{653,106}</string>
            </dict>
            <key>HuType28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{734,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{734,106}}</string>
                <key>sourceSize</key>
                <string>{734,106}</string>
            </dict>
            <key>HuType3.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,736},{169,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,92}}</string>
                <key>sourceSize</key>
                <string>{169,92}</string>
            </dict>
            <key>HuType4.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,187},{326,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,106}}</string>
                <key>sourceSize</key>
                <string>{326,106}</string>
            </dict>
            <key>HuType5.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,295},{421,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,106}}</string>
                <key>sourceSize</key>
                <string>{421,106}</string>
            </dict>
            <key>HuType6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{503,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,106}}</string>
                <key>sourceSize</key>
                <string>{503,106}</string>
            </dict>
            <key>HuType7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,937},{233,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,99}}</string>
                <key>sourceSize</key>
                <string>{233,99}</string>
            </dict>
            <key>HuType8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{251,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,90}}</string>
                <key>sourceSize</key>
                <string>{251,90}</string>
            </dict>
            <key>HuType9.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,94},{251,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,91}}</string>
                <key>sourceSize</key>
                <string>{251,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huType.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09158bb3825b4fcdee71992ae7764297:1/1$</string>
            <key>textureFileName</key>
            <string>huType.png</string>
        </dict>
    </dict>
</plist>
