<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_fkzs_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,78}}</string>
                <key>sourceSize</key>
                <string>{221,78}</string>
            </dict>
            <key>btn_fkzs_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{221,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,78}}</string>
                <key>sourceSize</key>
                <string>{221,78}</string>
            </dict>
            <key>btn_sedl_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{221,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,78}}</string>
                <key>sourceSize</key>
                <string>{221,78}</string>
            </dict>
            <key>btn_szdl_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{221,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,78}}</string>
                <key>sourceSize</key>
                <string>{221,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daili.png</string>
            <key>size</key>
            <string>{225,322}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35a966c011346ebcf7ce577a9a9b072c$</string>
            <key>textureFileName</key>
            <string>daili.png</string>
        </dict>
    </dict>
</plist>
